/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estrutura principal */
body, html {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

/* Lado esquerdo com imagem */
.left {
  flex: 1;
  background: url("/imagem/logo\ esquerdo.png") no-repeat center center/cover;
  background-size: 70%;
  background-position: 80% center; /* move um pouco para a direita */
}

/* Lado direito */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px;
}

/* Card flutuante */
.login-card {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(169, 59, 59, 0.922);
  padding: 40px;
  text-align: center;
}

/* Logo */
.logo {
  width: 120px;
  margin-bottom: 20px;
}

/* Títulos */
h2 {
  color: #cf69b0;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 30px;
}

/* Inputs */
.input-group {
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background-color: #ba507b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #050505;
}

/* Link de recuperação */
.forgot {
  display: inline-block;
  margin-top: 15px;
  color: #0273c5;
  text-decoration: none;
  font-size: 14px;
}

.forgot:hover {
  text-decoration: underline;
}


select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #ba507b;
  box-shadow: 0 0 4px #ba507b(191, 65, 93);
}

